<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if request.session.position == 'user' %}
    <title>Личный кабинет</title>
    {% else %}
    <title>Купленные билеты</title>
    {% endif %}
<link href="upmenu.css" type="text/css" rel="stylesheet">		
</head>
<body>
<button>
    <a href="/">
        Главная
    </a>
</button>
{% if request.session.position == 'user'%}
    <button>
        <a href="/account/">
            {{ request.session.login }}
        </a>
    </button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
{% elif request.session.position == 'moderator' or request.session.position == 'admin'%}
    <button>
        <a href="/account/">
            Управление
        </a>
    </button>
    <button>
        <a href="#">
            Купленные билеты
        </a>
    </button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
{% endif %}
<h1>
    {{ request.session.login }}
</h1>
<p>Билеты</p>
{% if data.0 != 0 %}
<table>
        <tr>
            <th>Пункт Отправления</th>
            <th>Пункт назначения</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Название</th>
            <th>Модель</th>
            <th>Тип</th>
            <th>Классы обслуживания</th>
        </tr>
    {% for fly in data %}
        <tr>
            <td>{{fly.point_of_departure}}</td>
            <td>
                 
                    {{fly.surf_point}}
                 
            </td>
            <td>
                 
                    {{ fly.departure_time }}
                 
            </td>
             <td>
                  
                     {{fly.arrival_time}}
                  
             </td>
             <td>
                 
                    {{fly.plane.name}}
                 
             </td>
             <td>
                 
                    {{fly.plane.model}}
                 
             </td>
             <td>
                 
                    {{fly.plane.type}}
                 
             </td>
            <td>
                {% for class in fly.plane.service_classes %}
                <p>
                    {{class}}
                </p>
                {% endfor %}
             </td>
        </tr>
    {% endfor %}
 </table>
    {% else %}
    <p>Нет купленных билетов</p>
{% endif %}
</body>
</html>