<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
<link href="upmenu.css" type="text/css" rel="stylesheet">	
</head>
<body>
<button>
    <a href="/">
        Главная
    </a>
</button>
<button>
    <a href="/account">
        Управление
    </a>
</button>
<button>
    <a href="/prop_tik">
        Купленные билеты
    </a>
</button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
<h1>{{ request.session.login }}</h1>

<p class="list">
<button>
    <a href="/add_air">
        Добавить аэропорт
    </a>
</button>
</p>

<p class="list">
<button>
    <a href="#">
        Удалить аэропорт
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/add_flight">
        Добавить рейс
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/moderator_list">
        Список модераторов
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/add_mod">
        Добавить модератора
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/list_del_mod">
        Удалить модератора
    </a>
</button>
</p>

<p class="list">
<button>
    <a href="/user_list">
        Список пользователей
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/add_user">
        Добавить пользователя
    </a>
</button>
</p>
<p class="list">
<button>
    <a href="/list_del_user">
        Удалить пользователя
    </a>
</button>
</p>
</body>
</html>