 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link href="../../static/upmenu.css" type="text/css" rel="stylesheet">
</head>
<body>
<button>
    <a href="/">
        Главная
    </a>
</button>
{% if 'id' not in request.session %}
<button>
    <a href="/login/">
        Авторизация
    </a>
</button>
    <button>
        <a href="/registration/">
            Регистрация
        </a>
    </button>
{% elif request.session.position == 'user'%}
    <button>
        <a href="/account/">
            {{ request.session.login }}
        </a>
    </button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
{% elif request.session.position == 'moderator' or request.session.position == 'admin'%}
    <button>
        <a href="/account/">
            Управление
        </a>
    </button>
    <button>
        <a href="prop_tik">
            Купленные билеты
        </a>
    </button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
{% endif %}
<h1>{{ name }}</h1>
{% if flights == 0 %}
<p>Рейсов нет</p>
{% else %}
 <table>
             <tr>
            <th colspan="4"> </th>
            <th colspan="3"> Самолет </th>
        </tr>
        <tr>
            <th>Пункт Отправления</th>
            <th>Пункт назначения</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Название</th>
            <th>Модель</th>
            <th>Тип</th>
            <th>Классы обслуживания</th>
        </tr>
            {% endif%}
        </tr>
    {% for fly in flights %}
        <tr>
            <td>{{ fly.departure_time }}</td>
             <td>{{fly.arrival_time}}</td>
             <td>{{fly.surf_point}}</td>
             <td>{{fly.plane.name}}</td>
             <td>{{fly.plane.model}}</td>
             <td>{{fly.plane.type}}</td>
            <td>{% for class in fly.plane.service_classes %}
                 {{class}}
                {% endfor %}</td>
            {% if 'id' in request.session and fly.slug in list_slug%}
                <td>
                <button>
                        Билет куплен
                </button>
                </td>
            {% else %}
                {% if 'id' in request.session %}
                <td>
                <button>
                    <a href="{% url 'add_ticket' id fly.id%}">
                        Купить билет
                    </a>
                </button>
                </td>
            {% endif %}


            {% endif %}
        </tr>
{% endfor %}
 </table>
{% endif %}
</body>
</html>
