<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление модераторов</title>
</head>
<body>
{% if request.session.position == 'moderator' or request.session.position == 'admin'%}
    <button>
        <a href="/">
            Главная
        </a>
    </button>
    <button>
        <a href="/account/">
            Управление
        </a>
    </button>
    <button>
        <a href="prop_tik">
            Купленные билеты
        </a>
    </button>
    <button>
        <a href="/logout">
             Выйти
        </a>
    </button>
{% endif %}
<h1>Список модераторов</h1>
{% for user in data %}
    {% if user.position == 'moderator' and user.status == 'true' %}
    <p>
        {{ user.login }}
        <button>
            <a href="{% url 'del_mod1' user.id%}">
                Удалить
            </a>
        </button>
    </p>
    {% endif %}
{% endfor %}
</body>
</html>